$themeColor = #31c27c
$bgColor = #ddd
$greyColor = #999
$fontColor = #000
$activeColor = #fff
$bgColor2 = #fafafa

$font-size-ss = 20px
$font-size-s = 24px
$font-size-m = 28px
$font-size-mx = 32px
$font-size-l = 36px
$font-size-lx = 44px